<div class="head">
        <div class="header-left">
            <div id="header-txt" class="title">
                <p>okina-ka-nakoku</p>
            </div>
            <a href="/mahjong/showScore" class="title-img"></a>
        </div>
        <div class="admin">
            <a href="/admin"<b>> to admin</b></a>
        </div>
        <div class="header-right">
            <ul class="menulist">
                <li class="menu">
                    <a href="/mahjong/showScore" class="title-link">
                        <span class="menu-text">
                            SHOW_SCORE
                        </span>
                    </a>
                </li>
                <li class="menu">
                    <a href="/mahjong/showScoreUpdate" class="title-link">
                        <span class="menu-text">UPD_SCORE</span>
                    </a>
                </li>
                <li class="menu">
                    <a href="/mahjong/scoreTable" class="title-link">
                        <span class="menu-text">SCORE_TBL</span>
                    </a>
                </li>
            </ul>
        </div>
</div>