html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "'Hiragino Sans', 'HGPゴシックE','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif"
}

wrapper {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

/* h2 {
    color: #717171;
    font-size: 18px;
    left: 4px;
    margin-bottom: 0
} */

#header {
    left: 0px;
    top: 0px;
    background: linear-gradient(#009688, #74c57a);
    height: 100px;
    width: 100%;
    float: left;
    display: block;
}

.head {
    width: 1000px;
    margin: 0 auto;
}

.header-left {
    float: left;
    width: 33.3%;
    height: 100px
}

.title-img {
    display: block;
    width: 100%;
    height: 50px;
    background: url("../images/header-title-background.png") no-repeat;
    background-size: 202px auto;
}

#header-txt > p {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.header-topic {
    width: 30%;
    float: right;
    padding-right: 10px;
    height: 55px;
}

.topic {
    float: right;
    padding-top: 0.8%;
    padding-right: 0;
    text-align: right;
    color: white;
    margin: 2px;
    height: 40%;
}

    .topic > a {
        color: white;
        text-decoration: none;
    }

.header-right {
    float: left;
    width: 60%;
    height: 100%
}


.menulist {
    height: 40px;
    display: block;
    width: 480px;
    padding-top: 60px;
    padding-left: 0px;
    margin: 0px auto;
    overflow: hidden;
}

.menu {
    padding-top: 100px;
    padding-right: 10px;
    margin-top: 50px;
    height: 100px;
    width: 100px;
    display: inline;
    top: 20px;
}

.title-link {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #26e260;
    background: #4aad87; /*背景色*/
    border-top: solid 6px #2c8c49;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    text-decoration: none;
}


    .title-link:hover {
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #26e260;
        background: #3d8a6c; /*背景色*/
        border-top: solid 6px #2c8c49;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); /*影*/
    }

.menu-text {
    color: white;
}

#footer {
    left: 0px;
    top: 0px;
    /* background: linear-gradient(#5c9860, #009688); */
    background: linear-gradient(#004f47, #7b7b7b);
    height: 150px;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: auto;
    bottom: 0;
    clear: both;
    color: white;
}


/*（スマホ用） */
@media screen and (max-width: 730px) {
    img {
        width: 960px;
    }

    #header {
        left: 0px;
        top: 0px;
        background: linear-gradient(#004f47, #7b7b7b);
        height: 90px;
        width: 100%;
        display: block;
        /* margin-bottom: 20px; */
    }
    .main {
      padding-top: 20px;
      background: url(../images/bg.JPG) ;
      background-size: contain;
      clear: both;
      display: block;
      padding-bottom: 10px;

    }
    .head {
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .header-left {
        width: 33.3%;
        height: 55px;
        margin: 0 auto;
        float: left;
    }

    #header-txt {
        font-size: 15px;
        margin: 0px;
    }

        #header-txt > p {
            font-size: 12px;
            margin-left: 4px;
            margin-top: 0px;
            text-align: left;
        }

    .title-img {
        display: block;
        width: 100%;
        height: 70%;
        background: url(../images/header-title-background.png) no-repeat;
        background-size: 129px auto;
    }

    .header-select-show {
        box-sizing:border-box;
        width: 33.3%;
        height: 55px;
        float: left;
    }

    #select-show {
        box-sizing: border-box;
        font-size: 25px;
        text-align: center;
        color: #efefef;
        padding-top: 15px;
    }

    .topic {
        display: block;
        padding-top: 0.8%;
        padding-right: 3%;
        color: white;
        font-size: 13px;
        text-decoration: none;
    }

    .header-right {
        clear: both;
        box-sizing: border-box;
        width: 100%;
        height: 40%;
        padding: .1px;
    }

    .menulist {
        width: 100%;
        height: 100%;
        padding: 0px;
        text-align: center;
        overflow: hidden;
    }

    .title-link {
        color: #26e260;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #5a8273; /*背景色*/
        border-top: solid 6px #4f6255;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    }

        .title-link:hover {
            padding: 0;
            margin: 0;
            background: #527d6d; /*背景色*/
            border-top: solid 6px #384d3f;
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); /*影*/
        }

    .menu {
        float: left;
        width: 33.3%;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }

    .menu-text {
        display: block;
        clear: both;
        color: white;
        padding: 3px;
        font-size: 15px;
    }
    .footer-link {
      color: white;
    }
}
