
<link rel="stylesheet" type="text/css" href="../static/mahjong/css/style.css">
<div class="head">
    <div class="disp-head">
        <div class="header-left">
            <div id="header-txt" class="title">
                <p>okina-ka-nakoku</p>
            </div>
            <a href="/mahjong/showScore" class="title-img"></a>
        </div>
        <div class="admin">
            <a href="/admin"<b>> to admin</b></a>
        </div>
        <div class="header-right">
            <ul class="menulist">
                <li class="menu">
                    <a href="/mahjong/showScore" class="title-link">
                        <span class="menu-text">
                            スコア表示
                        </span>
                    </a>
                </li>
                <li class="menu">
                    <a href="/mahjong/showScoreUpdate" class="title-link">
                        <span class="menu-text">スコア更新</span>
                    </a>
                </li>
                <li class="menu">
                    <a href="/mahjong/showScore" class="title-link">
                        <span class="menu-text">追加予定</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
