{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mahjong/style.css' %}">

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>翁カ奴国</title>
</head>
<body>
    <div id="header">
        <div class="head">
            <div class="header-left">
                <div id="header-txt" class="title">
                    <p>okina-ka-nakoku</p>
                </div>
                <div class="title-img" />
            </div>
        </div>
        <div class="header-right">
            <ul class="menulist">
                <li class="menu">
                    <span class="menu-text">スコア表示</span>
                </li>
                <li class="menu">
                    <span class="menu-text">スコア更新</span>
                </li>
            </ul>
        </div>
        <table>
            <tr>
                <th>Rank</th>
                <td>Name</td>
                <td>Score</td>
                <td>Top_Diff</td>
            </tr>
            <tr>
                <th>1</th>
                <td>大野 知訓</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>1</th>
                <td>菅野 優樹</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>1</th>
                <td>北山 虎次郎</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>1</th>
                <td>桑山 靖也</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>1</th>
                <td>小倉 魁斗</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>1</th>
                <td>中垣 政哉</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>1</th>
                <td>中村 侑一郎</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>
    </div>
</body>
</html>