{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mahjong/css/style.css' %}">

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>翁カ奴国</title>
</head>
<body>
    <div id="header">
        <div class="head">
            <div class="header-left">
                <div id="header-txt" class="title">
                    <p>okina-ka-nakoku</p>
                </div>
                <div class="title-img" />
            </div>
        </div>
        <div class="header-right">
            <ul class="menulist">
                <li class="menu">
                    <span class="menu-text">スコア表示</span>
                </li>
                <li class="menu">
                    <span class="menu-text">スコア更新</span>
                </li>
            </ul>
        </div>
        <table>
            <tr>
                <th>Rank</th>
                <td>Name</td>
                <td>Score</td>
                <td>Top_Diff</td>
            </tr>
        {% if users %}
            {% for user in users %}
            <tr>
                <th>{{user.rank}}</th>
                <td>{{user.lastName}} {{user.firstName}}</td>
                <td>{{user.scoreSum}}</td>
                <td>{{user.topDiff}}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </table>
    </div>
</body>
</html>