{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/mahjong/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/mahjong/css/score.css' %}">
<script type="text/javascript" src="/static/mahjong/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/static/mahjong/js/selectYear.js"></script>
<!-- <script type="text/javascript" src="/static/mahjong/js/template.js"></script> -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>翁カ奴国-ランキング</title>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="head">
        <div class="header-left">
          <div id="header-txt" class="title">
            <p>okina-ka-nakoku</p>
          </div>
          <a href="/mahjong/showRanking" class="title-img"></a>
        </div>
        <div class="header-select-show">
          <div id="select-show"></div>
        </div>
        <div class="header-topic">
          <div class="topic">
            <a href="/admin">>to admin</a>
          </div>
          <div class="topic">
            <a href="/mahjong/changeYear">>change year</a>
          </div>
        </div>
        <div class="header-right">
          <ul class="menulist">
            <li class="menu">
              <a href="/mahjong/showRanking" class="title-link">
                <span class="menu-text">
                  ランキング
                </span>
              </a>
            </li>
            <li class="menu">
              <a href="/mahjong/showScoreUpdate" class="title-link">
                <span class="menu-text">スコア更新</span>
              </a>
            </li>
            <li class="menu">
              <a href="/mahjong/scoreTable" class="title-link">
                <span class="menu-text">点数早見表</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="score">
        <div class="rankTitle">スコアランキング</div>
        <div class="table-area">
          <div class="column4">
            <div class="rankLabelGroup">
              <div class="rankLabel2">トータルスコア</div>
              <div class="rankLabel2 top">トップ差</div>
            </div>
            {% if users %}
            {% for user in users %}
            <div class="rankRecord">
              <a href="{% url 'mahjong:showDetail' user.userId %}">
              <input type="hidden" name="ranks" value={{user.rank}}>
              <div class="rank4">
                {{user.rank}}
              </div>
              <div class="rankGroup">
                <input type="hidden" name="userId" value={{user.userId}}>
                <div class="name4">
                  <div>{{user.lastName}} {{user.firstName}}</div>
                </div>
                <div class="scoreValue">
                  {{user.scoreSum}}
                </div>
                <div class="topsa">
                  {{user.topDiff}}
                </div>
              </div>
            </a>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      <div class="score">
        <div class="rankTitle"><b>半荘回数ランキング</b></div>
        <div class="table-area">
          <table class="score-table">
            <thead>
              <tr>
                <th>順位</th>
                <td>名前</td>
                <td>半荘回数</td>
                <td>割合</td>
              </tr>
            </thead>
            <tbody>
              {% if usersHanso %}
              {% for user in usersHanso %}
              <tr>
                <th>{{user.rank}}</th>
                <td><a href="{% url 'mahjong:showDetail' user.userId %}">{{user.lastName}} {{user.firstName}}</a></td>
                <td>{{user.hansoSum}}</td>
                <td>{{user.percentage}}%</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="score">
        <div class="rankTitle"><b>和了率ランキング</b></div>
        <div class="table-area">
          <table class="score-table">
            <thead>
              <tr>
                <th class="rank">順位</th>
                <td class="name">名前</td>
                <td>和了数</td>
                <td>総局数</td>
                <td>割合</td>
              </tr>
            </thead>
            <tbody>
              {% if usersHora %}
              {% for user in usersHora %}
              <tr>
                <th>{{user.rank}}</th>
                <td><a href="{% url 'mahjong:showDetail' user.userId %}">{{user.lastName}} {{user.firstName}}</a></td>
                <td>{{user.horaCnt}}</td>
                <td>{{user.cnt}}</td>
                <td>{{user.percentage}}%</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="score">
        <div class="rankTitle"><b>放銃率ランキング</b></div>
        <div class="table-area">
          <table class="score-table">
            <thead>
              <tr>
                <th class="rank">順位</th>
                <td class="name">名前</td>
                <td>放銃数</td>
                <td>総局数</td>
                <td>割合</td>
              </tr>
            </thead>
            <tbody>
              {% if userHoju %}
              {% for user in userHoju %}
              <tr>
                <th>{{user.rank}}</th>
                <td><a href="{% url 'mahjong:showDetail' user.userId %}">{{user.lastName}} {{user.firstName}}</a></td>
                <td>{{user.horaCnt}}</td>
                <td>{{user.cnt}}</td>
                <td>{{user.percentage}}%</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="footer">
      <li class="navi">
        <a href="/mahjong/showYakuman" class="footer-link">役満一覧</a>
      </li>
      <li class="navi">
          <a href="/mahjong/manage" class="footer-link">サイト管理</a>
      </li>
    </div>
  </div>
</body>
</html>
<script type="text/javascript">
  const 大野 = "0001";
  const 菅野 = "0002";
  const 北山 = "0003";
  const 桑山 = "0004";
  const 小倉 = "0005";
  const 中垣 = "0006";
  const 中村 = "0007";
  const つぐみ = "0008";
  var users = document.getElementsByName("userId");
  var ranks = document.getElementsByName("ranks");
  addUserColor(users);
  addRankClass(ranks)
  function addRankClass(ranks) {
    for (let i = 0; i < ranks.length; i++) {
      if (ranks[i].value == "1") {
        ranks[i].nextElementSibling.classList.add("rankFirst");
      } else if (ranks[i].value == "2") {
        ranks[i].nextElementSibling.classList.add("rankSecond");
      } else if (ranks[i].value == "3") {
        ranks[i].nextElementSibling.classList.add("rankThird");
      }
    }
  }

  function addUserColor(users) {
    for (let i = 0; i < users.length; i++) {
      if (users[i].value == 大野) {
        users[i].nextElementSibling.classList.add("ohno");
        continue;
      } else if (users[i].value == 菅野) {
        users[i].nextElementSibling.classList.add("kanno");
        continue;
      } else if (users[i].value == 北山) {
        users[i].nextElementSibling.classList.add("kitayama");
        continue;
      } else if (users[i].value == 桑山) {
        users[i].nextElementSibling.classList.add("kuwayama");
        continue;
      } else if (users[i].value == 小倉) {
        users[i].nextElementSibling.classList.add("kokura");
        continue;
      } else if (users[i].value == 中垣) {
        users[i].nextElementSibling.classList.add("nakagaki");
        continue;
      } else if (users[i].value == 中村) {
        users[i].nextElementSibling.classList.add("nakamura");
        continue;
      } else if (users[i].value == つぐみ) {
        users[i].nextElementSibling.classList.add("tsugumi");
        continue;
      }
    }
  }
</script>
