{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/mahjong/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/mahjong/css/show-detail.css' %}">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<script type="text/javascript" src="/static/mahjong/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/static/mahjong/js/selectYear.js"></script>
<script type="text/javascript" src="/static/mahjong/jquery/templates/jquery.acordion.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- <script type="text/javascript" src="/static/mahjong/js/template.js"></script> -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>翁カ奴国-個人詳細</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="head">
                <div class="header-left">
                    <div id="header-txt" class="title">
                        <p>okina-ka-nakoku</p>
                    </div>
                    <a href="/mahjong/showRanking" class="title-img"></a>
                </div>
                <div class="header-select-show">
                    <div id="select-show"></div>
                </div>
                <div class="header-topic">
                    <div class="topic">
                        <a href="/admin">>to admin</a>
                    </div>
                    <div class="topic">
                        <a href="/mahjong/changeYear">>change year</a>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="menulist">
                        <li class="menu">
                            <a href="/mahjong/showRanking" class="title-link">
                                <span class="menu-text">
                                    ランキング
                                </span>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="/mahjong/showScoreUpdate" class="title-link">
                                <span class="menu-text">スコア更新</span>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="/mahjong/scoreTable" class="title-link">
                                <span class="menu-text">点数早見表</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
        <!-- <div class="userLabel">
          <div class="nameLabel">
            <div class="title-name -name">{{info.userRecordDto.user}}</div>
            <div class="title-name -engName">{{info.userRecordDto.engName}}</div>
          </div>
          <div class="totalPointLabel">トータルポイント</div>
          <div class="totalPointLabel value">{{info.userRecordDto.score}}</div>
          <div class="totalPointRank">{{info.userRecordDto.rank}}位</div>
          <div class="totalBattle">試合数</div>
          <div class="totalBattle battleValue">{{info.userRecordDto.hansoCnt}}</div>
        </div> -->
        <div class="menu-title">
            <div class="title-name -name">{{info.userRecordDto.user}}</div>
            <input type="hidden" id="param" value={{info.userRecordDto.userId}} />
        </div>
        <div class="menu-label">
            <div class="title-group">
                <div class="title-name -label">戦績</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">総合順位</div>
                <div class="rank-val">{{info.userRecordDto.rank}}位</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">総合スコア</div>
                <div class="rank-val">{{info.userRecordDto.score}}</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">順位率</div>
                <div class="rank-val">{{info.userRecordDto.perRank}}</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">半荘回数</div>
                <div class="rank-val">{{info.userRecordDto.hansoCnt}}回</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">最高スコア</div>
                <div class="rank-val">{{info.userRecordDto.maxScore}}</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">最低スコア</div>
                <div class="rank-val">{{info.userRecordDto.minScore}}</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">和了数(%)</div>
                <div class="rank-val">{{info.userRecordDto.horaCnt}}回({{info.userRecordDto.horaPercent}})</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">放銃数(%)</div>
                <div class="rank-val">{{info.userRecordDto.hojuCnt}}回({{info.userRecordDto.hojuPercent}})</div>
            </div>
            <div class="rank-group">
              <div class="rank-key">平均和了点</div>
              <div class="rank-val">{{info.userRecordDto.horaScore}}</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">平均放銃点</div>
                <div class="rank-val">{{info.userRecordDto.hojuScore}}</div>
            </div>
            <div class="rank-group">
              <div class="rank-key">対局数</div>
              <div class="rank-val">{{info.userRecordDto.gameCnt}}回</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">参加日数</div>
                <div class="rank-val">{{info.userRecordDto.days}}日</div>
            </div>
        </div>
        <div class="menu-label">
            <div class="title-group">
                <div class="title-name -label">獲得順位数</div>
                <div class="title-name-sub">(%)</div>
                <div class="title-name -label">※飛び含む</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">1位</div>
                <div class="rank-val">{{info.userGetRankDto.first}}回</div>
                <div class="rank-val-sub">({{info.userGetRankDto.firstPercent}})</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">2位</div>
                <div class="rank-val">{{info.userGetRankDto.second}}回</div>
                <div class="rank-val-sub">({{info.userGetRankDto.secondPercent}})</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">3位</div>
                <div class="rank-val">{{info.userGetRankDto.third}}回</div>
                <div class="rank-val-sub">({{info.userGetRankDto.thirdPercent}})</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">4位</div>
                <div class="rank-val">{{info.userGetRankDto.fourth}}回</div>
                <div class="rank-val-sub">({{info.userGetRankDto.fourthPercent}})</div>
            </div>
            <div class="rank-group">
                <div class="rank-key">飛び</div>
                <div class="rank-val">{{info.userGetRankDto.tobi}}回</div>
                <div class="rank-val-sub">({{info.userGetRankDto.tobiPercent}})</div>
            </div>
        </div>
        <div class="menu-label">
            <div class="title-group">
                <div class="title-name -label">日付毎の戦績</div>
            </div>
        </div>
        <div class="day-label">
            {% if details %}
            {% for detail in details %}
            <ul class="day">
                <li class="menu__item">
                    <a class="menu__item__link js-menu__item__link" href="">{{detail.date}}</a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <p class="sub-title">当日スコア合計：{{detail.dayScore}}</p>
                            {% for battle in detail.detailBattles %}
                            <div class="battle_num">第{{battle.battleNo}}回戦（全{{battle.totalCnt}}局）</div>
                            <table class="score-table">
                                <thead>
                                    <tr>
                                        <th>順位</th>
                                        <td>名前</td>
                                        <td>スコア</td>
                                        <td>和了数<p class="val-sub">(%)</p></td>
                                        <td>放銃数<p class="val-sub">(%)</td>
                                    </tr>
                                </thead>
                                {% for user in battle.detailUsers %}
                                <tbody>
                                    <tr>
                                        {% if user.isMine == 0 %}
                                        <th class="isMine"><p>{{user.rank}}</p></th>
                                        <td class="isMine"><a href="{% url 'mahjong:showDetail' user.userId %}">{{user.lastName}}</a></td>
                                        <td class="isMine">{{user.score}}</td>
                                        <td class="isMine">{{user.horaCnt}}<p class="val-sub">({{user.horaPer}})</p></td>
                                        <td class="isMine">{{user.hojuCnt}}<p class="val-sub">({{user.hojuPer}})</p></td>
                                        {% endif %}
                                        {% if user.isMine == 1 %}
                                        <th>{{user.rank}}</th>
                                        <td><a href="{% url 'mahjong:showDetail' user.userId %}">{{user.lastName}}</a></td>
                                        <td>{{user.score}}</td>
                                        <td>{{user.horaCnt}}<p class="val-sub">({{user.horaPer}})</p></td>
                                        <td>{{user.hojuCnt}}<p class="val-sub">({{user.hojuPer}})</p></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endfor %}
                        </li>
                    </ul>
                </li>
            </ul>
            {% endfor %}
            {% endif %}
            <div class="score">
                <div class="rankTitle">
                </div>
            </div>
        </div>
        {% if details %}
        <div id="chartdiv"></div>
        {% endif %}
      </div>
        <div id="footer">
          <li class="navi">
              <a href="/mahjong/showYakuman" class="footer-link">役満一覧</a>
          </li>
          <li class="navi">
              <a href="/mahjong/manage" class="footer-link">サイト管理</a>
          </li>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">


  async function onLoad() {
    let id = document.getElementById('param');
    id = id.value;
    let res = await fetch("/getGraph/" + id);
    return await res.json();
    // let data = [{
    //     "year": "1950",
    //     "value": -0.105
    // }];
    // axios.get("/getGraph/" + id)
    // .then(response => {
    //    //console.log(JSON.stringify(response.data.data));
    //    return response.data.data;
    // })
    // .catch(error => {
    //   console.error(error);
    // })
    // .finally(() => {
    //   // skip
    // });
  }

  async function onload() {
    let data = await onLoad();
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "dark",
        "marginTop":0,
        "marginRight": 30,
        "dataProvider": data.data,
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id":"g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "bulletSize": 6,
            "bulletColor": "#E0E0E0",
            "lineColor": "#4DD0E1",
            "lineThickness": 2,
            "negativeLineColor": "#FF8A65",
            "type": "smoothedLine",
            "valueField": "value"
        }],
        "chartScrollbar": {
            "graph":"g1",
            "gridAlpha":0,
            "color":"#888888",
            "scrollbarHeight":55,
            "backgroundAlpha":0,
            "selectedBackgroundAlpha":0.1,
            "selectedBackgroundColor":"#888888",
            "graphFillAlpha":0,
            "autoGridCount":true,
            "selectedGraphFillAlpha":0,
            "graphLineAlpha":0.2,
            "graphLineColor":"#c2c2c2",
            "selectedGraphLineColor":"#888888",
            "selectedGraphLineAlpha":1

        },
        "chartCursor": {
            "categoryBalloonDateFormat": "YYYY",
            "cursorAlpha": 0,
            "valueLineEnabled":true,
            "valueLineBalloonEnabled":true,
            "valueLineAlpha":0.5,
            "fullWidth":true
        },
        // "dataDateFormat": "YYYY",
        "categoryField": "year",
        "handDrawn": false

        // "categoryAxis": {
        //     // "minPeriod": "YYYY",
        //     "parseDates": true,
        //     "minorGridAlpha": 0.1,
        //     "minorGridEnabled": true
        // }
    });

    chart.addListener("rendered", zoomChart);
    if(chart.zoomChart){
      chart.zoomChart();
    }

    const 大野 = "0001";
    const 菅野 = "0002";
    const 北山 = "0003";
    const 桑山 = "0004";
    const 小倉 = "0005";
    const 中垣 = "0006";
    const 中村 = "0007";
    const つぐみ = "0008";
    userId = document.getElementById("param");
    addUserColor(userId);
    function addUserColor(userId) {
      labels = document.getElementsByClassName("title-group");
      for (i = 0; i < labels.length; i++) {
        if (userId.value == 大野) {
          addAttribute = "ohno";
          labels[i].classList.add("ohno");
          continue;
        } else if (userId.value == 菅野) {
          addAttribute = "kanno";
          labels[i].classList.add("kanno");
          continue;
        } else if (userId.value == 北山) {
          addAttribute = "kitayama";
          labels[i].classList.add("kitayama");
          continue;
        } else if (userId.value == 桑山) {
          addAttribute = "kuwayama";
          labels[i].classList.add("kuwayama");
          continue;
        } else if (userId.value == 小倉) {
          addAttribute = "kokura";
          labels[i].classList.add("kokura");
          continue;
        } else if (userId.value == 中垣) {
          addAttribute = "nakagaki";
          labels[i].classList.add("nakagaki");
          continue;
        } else if (userId.value == 中村) {
          addAttribute = "nakamura";
          labels[i].classList.add("nakamura");
          continue;
        } else if (userId.value == つぐみ) {
          addAttribute = "tsugumi";
          labels[i].classList.add("tsugumi");
          continue;
        }
      }
      labels = document.getElementsByClassName("userLabel");
      for (i = 0; i < labels.length; i++) {
        labels[i].classList.add(addAttribute + "Label");
      }
    }

    function zoomChart(){
        chart.zoomToIndexes(Math.round(chart.dataProvider.length * 0.4), Math.round(chart.dataProvider.length * 0.55));
    }
  }

  window.addEventListener("load", onload);

</script>
