{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/mahjong/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/mahjong/css/show-score-update.css' %}">
<script type="text/javascript" src="/static/mahjong/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/static/mahjong/js/selectYear.js"></script>
<!-- <script type="text/javascript" src="/static/mahjong/js/template.js"></script> -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>翁カ奴国-スコア更新</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="head">
                <div class="header-left">
                    <div id="header-txt" class="title">
                        <p>okina-ka-nakoku</p>
                    </div>
                    <a href="/mahjong/showRanking" class="title-img"></a>
                </div>
                <div class="header-select-show">
                    <div id="select-show"></div>
                </div>
                <div class="header-topic">
                    <div class="topic">
                        <a href="/admin">>to admin</a>
                    </div>
                    <div class="topic">
                        <a href="/mahjong/changeYear">>change year</a>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="menulist">
                        <li class="menu">
                            <a href="/mahjong/showRanking" class="title-link">
                                <span class="menu-text">
                                    ランキング
                                </span>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="/mahjong/showScoreUpdate" class="title-link">
                                <span class="menu-text">スコア更新</span>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="/mahjong/scoreTable" class="title-link">
                                <span class="menu-text">点数早見表</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="{% url 'mahjong:settingUser' %}" method="post">
                <div class="setting">
                    {% csrf_token %}
                    <span class="settingUser"><b>ユーザ設定</b></span>
                    <div class="user">
                        <select name="user1">
                            <option value="default"></option>
                            {% for user in settingUsers %}
                            <option value="{{user.userId}}">{{user.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="user">
                        <select name="user2">
                            <option value="default"></option>
                            {% for user in settingUsers %}
                            <option value="{{user.userId}}">{{user.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="user">
                        <select name="user3">
                            <option value="default"></option>
                            {% for user in settingUsers %}
                            <option value="{{user.userId}}">{{user.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="user">
                        <select name="user4">
                            <option value="default"></option>
                            {% for user in settingUsers %}
                            <option value="{{user.userId}}">{{user.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="settingBtn">
                        <button class="btn">ユーザ設定</button>
                    </div>
                </div>
            </form>
            {% if user1 %}
            <form action="{% url 'mahjong:updateGame' %}" method="post">
                <div class="gameUpdate">
                    <span class="settingUser"><b>対局登録</b></span>
                    {% csrf_token %}
                    <div class="gameUpdate">
                        <table class="gameUserTable">
                            <thead>
                                <tr>
                                    <th>{{user1.name}}</th>
                                    <td>
                                        <input type="hidden" name="user1" value="{{user1.userId}}" />
                                        <input type="hidden" name="gameResult1" value=0 />
                                        <input id="item-1" class="radio-inline__input" type="radio" name="gameResult1" value=1 />
                                        <label class="radio-inline__label" for="item-1">
                                            和了
                                        </label>
                                        <input id="item-2" class="radio-inline__input -hoju" type="radio" name="gameResult1" value=2 />
                                        <label class="radio-inline__label -hoju" for="item-2">
                                            放銃
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{user2.name}}</th>
                                    <td>
                                        <input type="hidden" name="user2" value="{{user2.userId}}" />
                                        <input type="hidden" name="gameResult2" value=0 />
                                        <input id="item-3" class="radio-inline__input" type="radio" name="gameResult2" value=1 />
                                        <label class="radio-inline__label" for="item-3">
                                            和了
                                        </label>
                                        <input id="item-4" class="radio-inline__input -hoju" type="radio" name="gameResult2" value=2 />
                                        <label class="radio-inline__label -hoju" for="item-4">
                                            放銃
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{user3.name}}</th>
                                    <td>
                                        <input type="hidden" name="user3" value="{{user3.userId}}" />
                                        <input type="hidden" name="gameResult3" value=0 />
                                        <input id="item-5" class="radio-inline__input" type="radio" name="gameResult3" value=1 />
                                        <label class="radio-inline__label" for="item-5">
                                            和了
                                        </label>
                                        <input id="item-6" class="radio-inline__input -hoju" type="radio" name="gameResult3" value=2 />
                                        <label class="radio-inline__label -hoju" for="item-6">
                                            放銃
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{user4.name}}</th>
                                    <td>
                                        <input type="hidden" name="user4" value="{{user4.userId}}" />
                                        <input type="hidden" name="gameResult4" value=0 />
                                        <input id="item-7" class="radio-inline__input" type="radio" name="gameResult4" value=1 />
                                        <label class="radio-inline__label" for="item-7">
                                            和了
                                        </label>
                                        <input id="item-8" class="radio-inline__input -hoju" type="radio" name="gameResult4" value=2 />
                                        <label class="radio-inline__label -hoju" for="item-8">
                                            放銃
                                        </label>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <div class="settingBtn">
                            <button class="btn">対局登録</button>
                        </div>
                    </div>
                </div>
            </form>
            <form action="{% url 'mahjong:updateScore' %}" method="post">
                <div class="sucoreUpdate">
                    <span class="settingUser"><b>スコア登録</b></span>
                    {% csrf_token %}
                    <table class="gameUserTable">
                        <thead>
                            <tr>
                                <th>{{user1.name}}</th>
                                <td>
                                    <label>
                                        <input class="userId" type="hidden" name="user1" value="{{user1.userId}}" />
                                        <input class="scoreText" type="text" name="score1" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>{{user2.name}}</th>
                                <td>
                                    <label>
                                        <input class="userId" type="hidden" name="user2" value="{{user2.userId}}" />
                                        <input class="scoreText" type="text" name="score2" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>{{user3.name}}</th>
                                <td>
                                    <label>
                                        <input class="userId" type="hidden" name="user3" value="{{user3.userId}}" />
                                        <input class="scoreText" type="text" name="score3" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>{{user4.name}}</th>
                                <td>
                                    <label>
                                        <input class="userId" type="hidden" name="user4" value="{{user4.userId}}" />
                                        <input class="scoreText" type="text" name="score4" />
                                    </label>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div class="settingBtn">
                        <button class="btn">スコア登録</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
        <div id="footer">
          <li class="navi">
              <a href="/mahjong/showYakuman" class="footer-link">役満一覧</a>
          </li>
        </div>
    </div>
</body>
</html>
