div {
    display:block;
}
b {
    font-size:20px;
}

.rankTitle {
    clear: both;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.day {
    margin: 2px;
}

.submenu {
    display: none;
    margin:2px;
    padding: none;
}
.score {
    display:block;
    width:1000px;
    margin:0 auto;
    clear:both;
}

.score-table {
    width:100%;
    /* padding:0px; */
    margin-bottom:5px;
}

table {
    width: 1000px;
    border-collapse: collapse;
    border-spacing: 1px;
    margin: 0 auto;
    /* padding-top: 100px; */
    letter-spacing: 1px;
}

tbody {
    top: 100px;
}
thead {
    background-color: #4d88a5;
    color: white;
}
table th, table td {
    /* padding: 10px 0; */
    text-align: center;
    width: 10%;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}
tbody tr:nth-child(odd) {
    background-color: #eee
}

tr {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}


/***************/
/*（スマホ用） */
/***************/
@media screen and (max-width: 730px) {
    .userLabel {
      display: block;
      width: 90%;
      margin: 0 auto;
      height: 30%;
      box-shadow: 0px -6px 24px 8px rgba(10,10,10,0.02), 32px 29px 20px -9px rgba(10,10,10,0.02);
    }
    .nameLabel {
      border-bottom-color: white;
      border-bottom: 2px;
    }
    .-name {
      margin:5% 3px 0 5%;
      display: inline-block;
      box-sizing: border-box;
      font-size: 26px;
      color: white;
    }
    .-engName {
      display: inline-block;
      width: 40%;
      font-size: 13px;
      color: white;
    }
    .menu-title {
        text-align: center;
        clear: both;
    }
    .menu-label {
        margin: 0 auto 10px;
        width: 90%;
        color: white;
    }
    /* .-name {
        font-size: 28px;
        color: white;
    } */
    .title-group {
        margin: auto;
        color: aliceblue;
        font-size: 20px;
        clear: both;
    }
    .ohno {
      background: linear-gradient(290deg, #ffffff1c, #ffffff85);
    }
    .kanno {
      background: linear-gradient(290deg, #ff00ff52, #ff00ffb5);
    }
    .kitayama {
      background: linear-gradient(290deg, #0064002e, #006400);
    }
    .kitayamaLabel {
      background-color: #0064007a;
    }
    .kuwayama {
      background: linear-gradient(290deg, #ffffff1c, #ffffff85);
    }
    .kokura {
      background: linear-gradient(290deg, #00ffff1c, #00ffffab);
    }
    .nakagaki {
      background: linear-gradient(290deg, #ee78002e, #ee7800d6);
    }
    .nakamura {
      background: linear-gradient(290deg, #483d8b5e, #483d8b);
    }
    .tsugumi {
      background: linear-gradient(290deg, #F6496733, #F64967BF);
    }
    .-label {
        margin: 0px 0px 0px 20px;
        display:inline-block;
    }
    .title-name-sub {
        display:inline-block;
        font-size: 15px;
    }
    .rank-group {
        width: 90%;
        margin: auto;
        font-size: 18px;
        display: block;
        border-bottom: solid 0.1px #98bda7;
        padding: 2px;
    }
    .rank-key {
        display:inline-block;
        width:50%;
        margin:0;
        text-align: center;
    }
    .rank-val {
        width: auto;
        display:inline-block
    }
    .rank-val-sub {
        display:inline-block;
        width: auto;
        font-size: 13px;
    }
    .score-table {
        table-layout:fixed;
        margin-bottom: 15px;
    }
    table > thead > tr > th {
        width:30px;
        font-weight:100;
    }
    tr {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        border-left: 1px solid #000000;
    }
    table th, table td {
        padding: 5px 0;
        text-align: center;
        font-size: 12px;
        width: 60%;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
    }
    #wrapper > ul {
        width: 80%;
        display:block;
    }
    ul {
      padding-left: 0;
      padding-left: 5%;
      padding-right: 5%;
    }
    .isMine {
       background:#0000004f;
    }
    .menu__item__link {
      width: 30%;
      display:inline-block;

      text-decoration: none;
      color: #000000;
      background-color: #fff;
      margin-left: 5%;
    }
    .day {
      position: relative;
      color: #000000;
      margin-bottom: 3px;
      list-style-type: none !important;
      padding: 0.2em;
      position: relative;
    }
    .menu__item__link {
      border-left: solid 6px #319bef;
      line-height: 1.5;
      border-radius: 5px;

    }
    .submenu__item {
      list-style-type: none !important;
      margin-left: auto;
      padding: 0.5em
      color: white;
    }
    .sub-title {
      margin:auto;
      font-weight: bold;
      color: white;
    }
    .battle_num {
      color: white;
    }
    tbody tr:nth-child(odd) {
        background-color: white;
    }
    .val-sub {
        display:inline-block;
        width: auto;
        font-size: 10px;
        text-align: center;
        margin: auto;
    }
    #chartdiv {
      width : 100%;
      height  : 300px;
    }
}
