{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/mahjong/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/mahjong/css/show-yakuman.css' %}">
<script type="text/javascript" src="/static/mahjong/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/static/mahjong/js/selectYear.js"></script>
<!-- <script type="text/javascript" src="/static/mahjong/js/template.js"></script> -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>翁カ奴国-役満一覧</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="head">
                <div class="header-left">
                    <div id="header-txt" class="title">
                        <p>okina-ka-nakoku</p>
                    </div>
                    <a href="/mahjong/showRanking" class="title-img"></a>
                </div>
                <div class="header-select-show">
                    <div id="select-show"></div>
                </div>
                <div class="header-topic">
                    <div class="topic">
                        <a href="/admin">>to admin</a>
                    </div>
                    <div class="topic">
                        <a href="/mahjong/changeYear">>change year</a>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="menulist">
                        <li class="menu">
                            <a href="/mahjong/showRanking" class="title-link">
                                <span class="menu-text">
                                    ランキング
                                </span>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="/mahjong/showScoreUpdate" class="title-link">
                                <span class="menu-text">スコア更新</span>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="/mahjong/scoreTable" class="title-link">
                                <span class="menu-text">点数早見表</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix">
          <div class="main">
            <div class="title">
                <b>役満一覧</b>
            </div>
            <div class="yakuman-all">
              <table>
                <tr>
                  <td>天和</td>
                  <td>地和</td>
                  <td class="already">大三元</td>
                </tr>
                <tr>
                  <td>大四喜</td>
                  <td class="already">小四喜</td>
                  <td class="already">四暗刻</td>
                </tr>
                <tr>
                  <td>清老頭</td>
                  <td>四槓子</td>
                  <td>字一色</td>
                </tr>
                <tr>
                  <td>緑一色</td>
                  <td class="already">国士無双</td>
                  <td>九蓮宝燈</td>
                </tr>
              </table>
            </div>
            <div class="yakuman-list">
              <table class="yakuman-table">
                <tbody class="yakuman-table-body">
                  <tr>
                  <th>日付</th><th>役</th><th>和了者</th><th>放銃者</th>
                  </tr>
                  <tr>
                    <td class="list">2021/05/04</td><td class="list">大三元</td><td class="list">中村 侑一郎</td><td class="list">小倉 魁斗</td>
                  </tr>
                </tbody>
              </table>
              <img src="/static/mahjong/img/nakamura_daisangen.jpg" class="yakuman">
              <table class="yakuman-table">
                <tbody class="yakuman-table-body">
                  <tr>
                  <th>日付</th><th>役</th><th>和了者</th><th>放銃者</th>
                  </tr>
                  <tr>
                    <td class="list">2021/06/13</td><td class="list">四暗刻</td><td class="list">中垣 政哉</td><td class="list">-</td>
                  </tr>
                </tbody>
              </table>
              <img src="/static/mahjong/img/nakagaki_suanko.jpg" class="yakuman">
              <table class="yakuman-table">
                <tbody class="yakuman-table-body">
                  <tr>
                  <th>日付</th><th>役</th><th>和了者</th><th>放銃者</th>
                  </tr>
                  <tr>
                    <td class="list">2021/09/11</td><td class="list">数え役満</td><td class="list">北山 虎次郎</td><td class="list">-</td>
                  </tr>
                </tbody>
              </table>
              <img src="/static/mahjong/img/kitayama_kazoe.jpg" class="yakuman">
              <table class="yakuman-table">
                <tbody class="yakuman-table-body">
                  <tr>
                  <th>日付</th><th>役</th><th>和了者</th><th>放銃者</th>
                  </tr>
                  <tr>
                    <td class="list">2021/09/11</td><td class="list">大三元</td><td class="list">中村 侑一郎</td><td class="list">-</td>
                  </tr>
                </tbody>
              </table>
              <img src="/static/mahjong/img/nakamura_daisangen2.jpg" class="yakuman">
              <table class="yakuman-table">
                <tbody class="yakuman-table-body">
                  <tr>
                  <th>日付</th><th>役</th><th>和了者</th><th>放銃者</th>
                  </tr>
                  <tr>
                    <td class="list">2021/10/25</td><td class="list">国士無双</td><td class="list">北山 虎次郎</td><td class="list">-</td>
                  </tr>
                </tbody>
              </table>
              <img src="/static/mahjong/img/kitayama_kokushimuso.jpg" class="yakuman">
              <table class="yakuman-table">
                <tbody class="yakuman-table-body">
                  <tr>
                  <th>日付</th><th>役</th><th>和了者</th><th>放銃者</th>
                  </tr>
                  <tr>
                    <td class="list">2021/11/06</td><td class="list">小四喜</td><td class="list">中村 侑一郎</td><td class="list">北山 虎次郎</td>
                  </tr>
                </tbody>
              </table>
              <img src="/static/mahjong/img/nakamura_syosushi.jpg" class="yakuman">
            </div>
        </div>
    </div>

    <div id="footer">
      <li class="navi">
          <a href="/mahjong/showYakuman" class="footer-link">役満一覧</a>
      </li>
    </div>
</body>
</html>
